@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;0,900;1,500&family=Raleway:ital,wght@0,300;0,900;1,400;1,800&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #000;
    color: hsla(0, 0%, 100%, .95);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

#wrapper {
    display: flex;
    flex-direction: row;
}

#left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#right {
    flex: 1;
}

/* Sign In */
#signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 80%;
    padding-bottom: 1rem;
}

#signin form {
    width: 80%;
    padding-bottom: 1rem;
}

.logo {
    margin-top: 8vh;
    margin-bottom: 2rem;
}

.logo img {
    width: 300px;
}

#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
    color: hsla(0, 0%, 100%, .95)
}

#signin .text-input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #181818;
    border: 1px solid #555;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .primary-btn {
    width: 100%;
}

#signin .secondary-btn {
    width: 60%;
}

#signin .links a {
    display: block;
    color: hsla(0, 0%, 100%, .95);
    text-decoration: none;
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
}

#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

/* hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
} */


.bar {
    flex: auto;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.87);
}

/* Showcase */
/* #right {
    display: flex;
    justify-items: center;
    align-items: center;
    background: url('images/log-pluralweb.png') no-repeat center center / cover;
    height: 100vh;
    text-align: center;
} */

#right {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background: url('images/log-pluralweb.png') no-repeat center center / cover;
    background-color: black;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#showcase .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: hsla(0, 0%, 100%, .95);
    margin-bottom: 1.5rem;
}

#showcase .secondary-btn {
    width: 60%;
    margin: auto;
}

/* Footer */
#main-footer {
    color: hsla(0, 0%, 100%, .95);
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#main-footer a {
    color: hsla(0, 0%, 100%, .95);
    text-decoration: underline;
    margin: 0.2rem;
}


/* Button */

.primary-btn {
    font-size: 16px;
    letter-spacing: .01em;
    padding: 10px 16px;
    height: 40px;

    color: hsla(0, 0%, 100%, .95);
    background: #0074ab;
    align-items: center;

    width: 100%;
    margin-bottom: 48px;

    position: relative;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition: background .5s, -webkit-transform .1s, transform .1s;
    vertical-align: middle;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -webkit-transition: background .2s, -webkit-transform .1s, transform .1s;
    -moz-transition: background .5s, transform .3s;
}

.primary-btn:hover {
    background: #016a9b;
}

.secondary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 3px;
    font-weight: 500;
    /* background: none;
    color: #fff; */
    color: hsla(0, 0%, 100%, .95);
    background: rgba(138, 153, 168, .25);

    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.secondary-btn:hover {
    color: rgb(255, 255, 255);
    background: rgba(172, 197, 223, 0.25);
}

/* Media Queries */

@media (min-width: 1200px) {
    #left {
        flex: 4;
    }

    #right {
        flex: 6;
    }
}

@media (max-width: 768px) {

    body {
        overflow: auto;
    }

    #right {
        display: none;
    }

    #left {
        justify-content: start;
        margin-top: 2vh;
    }

    #signin .log {
        margin-bottom: 2vh;
    }

    #signin .text-input {
        margin-bottom: 0.7rem;
    }

    .secondary-btn {
        font-weight: 300;
        font-size: small;
    }

    #main-footer {
        padding-top: 1rem;
        font-size: 0.6rem;
    }



}